{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block menu %}
  <div class="general-menu">
    <h1><a href="/">Parti</a></h1>
      <ul><a href="/">CPU</a></ul>
      <ul><a href="/">Schede video</a></ul>
      <ul><a href="/">RAM</a></ul>
      <ul><a href="/">HDD</a></ul>
    <h1><a href="/">Ultime Novità</a></h1>
  </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="col-md-6 post" onclick="location.href = '{% url 'post_detail' pk=post.pk %}'">
      {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
      {% endif %}
      <a href="{% url 'post_detail' pk=post.pk %}"><h1>{{ post.title }}</h1></a>
      <p>{{ post.text|safe|truncatewords:"50"|linebreaks}}<p>
    </div>
    {% endfor %}
{% endblock %}

{%  block details %}
  {% if user.is_authenticated %}
    {% else %}
    <form class="login-form" action="{% url 'log_in' %}" method="POST">{% csrf_token %}
      <table>
        <tr>
          <th>
            {{ form.username.label_tag }}
          </th>
          <td>
            {{ form.username }}
          <td>
        </tr>
        <tr>
          <th>
            {{ form.password.label_tag }}
          </th>
          <td>
            {{ form.password }}
          <td>
        <tr>
      </table>
      <input class ="btn btn-default" type="submit" value="login">
      <p class="reg-period">not member? register <a href="{% url 'registration' %}">here</a></p>
      {% if form.non_field_errors %}
        <ul class='form-errors'>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
