.page-header {
    margin: 20 0 20 0;
    max-height: 77px;
    text-align: center;
    border: none;
}

.page-footer {
    margin-bottom: 0;
    border-top: solid 1px #eee;
    height: 50px;
}

body {
    background-color: #222222;
}

html, body {
    height: 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #008F68;
    font-size: 40pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  margin-left: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.container h1 {
  font-size: 25px;
}

.date {
    float: right;
    color: #A9A9A9;
    margin-top: 2px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #DB5800;
    float: right;
}

.post {
    margin-bottom: 70px;
    border: 1px solid transparent;
    cursor:pointer;
}
.post a {
  color: #008F68;

}

.post a h1 {
    color: #008F68;
    padding-top: 10px;
}

.post p,li {
    color: #DB5800;
}

.general-menu h1 a, .general-menu ul a, h1 {
  color: #008F68;
}

.page-header p {
  color: #DB5800;
}

.content p {
  color: #DB5800;
  font-size: 16px;
  margin-right: 10px;
}

#site-title {
  display: inline;
}

#hiuser {
  float:right;
}

#hiuser a{
  color: #DB5800;
}

.logout-form input {
  position: fixed;
  top: 10px;
  right: 10px;
  border: None;
  text-shadow: None;
  color: #DB5800;
  background: None;
  margin-left: 0;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  margin: 0;
  height: 100%;
  background-color: black;
}
