ul {
  font-size: 16px;
}

.dx {
  float: right;
}

.header-button {
  margin-top: 15px;
  width: auto;
  height: auto;
}

.header-username {
  margin-top: 15px;
  font-size: 16px;
  color: #DB5800;
}

.reg-period {
  font-size: 10px;
}

.reg-period a {
  color: #008F68;
}

.form-errors li {
  color:#FF0000;
  list-style-type: none;
}

.login-form th,td {
  color: #DB5800;
  padding-top: 10px;
  padding-right: 20px;
}

.post:hover {
  border: 1px solid #008F68;;
}
